{% extends 'base.html'%}
<body>
  {% block content %}
  <div class="center">
      <center>
           {{ header }}</h1>
      </center>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-4">
              <h3 style="margin-left: 50px;">News Headlines</h3>
              {% for articles in articles %}
           
                  <h4><a href="{{ article.title}}">{{ top_news.description }}</a></h4>
           
              {% endfor %}
              {% endblock %}
               {
        

</body>